/*
1.extra small-devices < 576px width
2.small devices < 786px width
3.medium screen < 992px width
4.large screen < 1200px width
5.extra large >= 1200px
*/

@media(min-width: 850px){
    /* container */
    .container{
        max-width: 800px;
        margin: auto;
    }

    /* btn */
    .btn{
        padding: 10px 20px;
        font-size: 18px;
        margin: 20px 0;
    }

    /*******************
    content boxes
    ***************/
    .content-box-lg{
        padding: 90px 0;
    }
    .content-box-md{
    padding: 70px 0;
    }
    .content-box-sm{
        padding: 40px 0;
    }
    .content-box-xs{
        padding: 20px 0;
    }

    /*******************
    HOME SECTION
    ***************/
    
    .home .home-text,
    .home .home-img{
        flex: 0 0 100%;     
    }
    .home .home-text{
        margin-top: 70px;
        text-align: center;
    }
    .home .home-img .img-circle{
        max-width: 500px;
        padding: 0px;
    }
    .home .home-img .img-circle img{
        margin-left: 0;
    }
    .home .home-text .text-1{
        font-size: 22px;
        line-height: 1.5;
    }
    .home .home-text .text-2{
        font-size: 50px;
        line-height: 1.3;
    }
    .home .home-text .text-3{
        font-size: 32px;
        margin: 5px 0;
        line-height: 1.5;
    }
    .home-btn{
        margin-top: 0px;
    }
    /*******************
    ABOUT SECTION
    ***************/
    .about-flex{
        display: block;
        margin-top: 50px;
    }
    .about-info{
        padding: 0 70px;
        margin-top: 50px;
    }
    .about-img{
        margin-left: 120px;
    }
    .about-btn{
        margin-top: 0px;
    }
    .about .about-img img{
        width: 500px;
        height: 500px;
    }
    /*******************
    PROJECT SECTION
    ***************/
    .project-card{
        width: 500px;
        height: 400px;
        margin-left: 130px;
        margin-top: 70px;
    }
    .project-btn{
        margin-left: 130px;
        margin-top: 10px;
    }

    /*******************
    PROJECT SECTION
    ***************/
    .gutter{
        margin-left: 30px;
    }
    .contact-card{
        width: 670px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    }
    .contact .contact-item{
        margin-top: 20px;
    }
    .contact .contact-item:nth-child(2){
        margin-left: 30px;
    }

    .contact-input{
        margin-left: 40px;
        margin-top: 50px;
    }
    .contact .input-group .input-control{
        width: 90%;
    }
    .submit-btn{
        margin-left: 40px;
    }
    
    .effect-1{
        width: 30px;
        height: 30px;
        border: 2px solid #2558E4;
        right: 50%;
        bottom: 20%;
        box-shadow: 0.5px 3px 3px 0.5px rgb(50 50 50 / 40%);
        animation: blob 10s linear infinite;
    } 
    .effect-2{
        height: 180px;
        width: 180px;
        border: 20px solid #ffdc40;
        border-radius: 50%;
        left: 40%;
        top: 0px;
        box-shadow: 0.5px 3px 3px 0.5px rgb(50 50 50 / 40%);
        animation: leftBounce 4s linear infinite;
    }

}